<%-include('partials/_header.ejs');-%>
<h5 class="negritas text-center fondo-titulo white-text border">Hospitales de atención</h5>
<hr class="hr-border">
<section class="center-on-small-only consejos" style="margin-bottom: 100px;">
            <div>
                <ul class="collapsible popout">
                  <% if(data){ %>
                  <% for (var i=0; i < data.length; i++){%>
                    <li> 
                    <%if(data[i].nombre=='UNIDAD MEDICA FAMILIAR 177 / UMF 177 / CENTRO'){ %>
                        <div class="collapsible-header blue darken-2 white-text border">
                        <%  } else{%>
                        <div class="collapsible-header indigo lighten-5 border border">
                          <%  } %> 
                            <i class="material-icons">announcement</i>
                            <h6><%=data[i].nombre%></h6>
                        </div>
                        <div class="collapsible-body indigo lighten-5 border center-align">                    
                            <iframe src="<%=data[i].mapa%>" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                                                                         
                            <h6 class="negritas">Nivel de atención:</h6>
                            <% if(data[i].nivelaten !=1 && data[i].nivelaten !=2 ) { %>
                                <p class="text-mediana">Nivel de Antencion desconocido</p>
                          <%  } %>
                           <% if(data[i].nivelaten==1) { %>
                                <p class="text-mediana"><%=data[i].nivelaten%> (Sintomas Leves)</p>
                          <%  } %>
                          <% if(data[i].nivelaten==2) { %>
                            <p class="text-mediana"><%=data[i].nivelaten%> (Sintomas Graves)</p>
                          <% } %>                     
                            <h6 class="negritas">Dirección:</h6>
                            <p class="text-mediana"><%=data[i].direccion%></p>
                            <h6 class="negritas">Numero de atención:</h6>
                            <p class="text-mediana"><%=data[i].telefono%></p>
                        </div>
                    </li>
                  <% }%>  
                  <% } %> 
                </ul>
            </div>
</section>
<h5 class="left-align margin-footer">Última actualización: <%=casos[0].fecha%></h5>

         <!-- including the Footer from partials-->
         <%-include('partials/_footer.ejs');-%>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/init.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>

